<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Utils</title>
</head>
<body>
<h1>Welcome to text analyzer</h1>
<form action="/analyze" method="get">
    <textarea name="text" style="width: 1512px; height: 93px;"></textarea>
    <br>

    <input type="checkbox" name="removepunc">Remove Punctuations <br>
    <input type="checkbox" name="fullcaps">UPPERCASE <br>
    <input type="checkbox" name="newlineremover">Remove New Line <br>
    <button type="submit">Analyze text</button>
</form>
</body>
</html>
</body>
</html>